	body {
		font-family: "Avenir Next", Arial, sans-serif;
		color: #666;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}