html {
	min-height: 100%;
	position: relative;
	font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $font-stack;
	font-size: 16px;
	color: $color-main;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 
	background-color: $color-white;
}

// responsive images and elements
embed, iframe, img, object, video { max-width: 100%; }

h1, h2, h3, h4, h5 {
	font-family: $font-header;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	letter-spacing: -.03em;

	@media (max-width: 767px) {
		line-height: 1;
	}
}

.tb-headline h1, 
.tb-headline h2, 
.tb-headline h3, 
.tb-headline h4, 
.tb-headline h5, 
.tb-headline h6 {
	font-family: $font-header;
}

h1 {
	font-weight: 900;
	text-shadow: none;
}
.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
	@media (max-width: 767px) {
		font-size: 40px;
    	line-height: 1;
	}
}
h2,
.tb-headline h2 {
	/*
	font-size: 3rem;
	font-weight: bold;
	color: #3A3B3A;
	*/
	font-size: 6rem;
    line-height: 6.25rem;
    //text-transform: uppercase;
    margin-bottom: 2rem;
    text-shadow: $text-shadow-none
}
h3 {
	color: rgba(58, 59, 58, 1);
	font-size: 2rem;
	font-weight: normal;
	text-shadow: $text-shadow-none;
	margin-bottom: 10px;
}
h4 {
	color: rgba(58, 59, 58, 1);
	font-size: 1.5rem;
	font-weight: lighter;
}
h5 {
	color: rgba(216, 51, 97, 1);
	font-weight: italic;
	font-size: 20px;
}
p, 
.tb-jumbotron p, 
.jumbotron p,
.tb-content-block,
li {
	font-family: $font-stack;
	font-size: 1em;
    line-height: 1.4;
	font-weight: 500;
	letter-spacing: -.02em;

	@media (max-width: 767px) {
		font-size: 1.5rem;
	}
}
.tb-jumbotron p {
	font-size: 1.5em;
}
a:not([href*='because.coffee']):not([href*='localhost']):not([href*='staging.because.coffee']):not([href^='#']):not([href^='/']):not(.gform_anchor):not([name^=map]):not(.fa-lg):not(.wpgmza_gd):after  {
    font-family: 'FontAwesome';
    content: " \f08e";
    color: #ccc;
    font-size: .5em;
    position: relative;
    top: 1px;
}
.site-main p a:not(.wpgmza_gd) {
	background-color: transparent;
    color: inherit;
    text-decoration: none;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 2px solid $color-accent;
    -webkit-box-shadow: inset 0 -2px 0 $color-accent;
    box-shadow: inset 0 -2px 0 $color-accent;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}
a:not(.site-header):not(.menu-btn):hover {
	color: $color-main;
	border-bottom: 2px solid $color-accent;
}
.header-nav .tb-primary-menu > li > .wpmenucart-contents:before {
	background-color: transparent;
}
.header-nav .tb-primary-menu > li > .wpmenucart-contents:hover {
	color: $color-accent;
}
a:not(.site-footer):not(.menu-btn):not(.tb-image-logo):hover, 
a:not(.site-footer):not(.menu-btn):not(.tb-image-logo):visited, 
a:not(.site-footer):not(.menu-btn):not(.tb-image-logo):active,
a:not(.alt) {
	color: $color-accent;
}

a:not(.btn, .menu-btn),
a:not(.btn, .menu-btn):visited {
	background-color: transparent;
    color: $color-accent;
    text-decoration: none;
    -webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    -o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 0px solid #dcddde;
    -webkit-box-shadow: inset 0 -4px 0 #dcddde;
    box-shadow: inset 0 -4px 0 #dcddde;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}
a:not(.btn):not(.menu-btn):not(.btn-navbar):not(.tb-image-logo):hover {
	color: $color-white;
	background: $color-accent;
	border-bottom: 0px solid $color-accent;
    -webkit-box-shadow: inset 0 -4px 0 $color-accent;
    box-shadow: inset 0 -4px 0 $color-accent;
}

.hero {
	//width: 100vw;
    //height: 100vh;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}
.lower {
	text-transform: none;
}

.hero-gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}