@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=2092813c-4f6f-4d28-9960-fda1f96e6aa0&fontids=1475814,1475826");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

@font-face{
    font-family:"Futura Medium";
    src:url("fonts/1475814/92596d86-eab0-4abb-ae87-3f8ee4d3dceb.eot?#iefix");
    src:url("fonts/1475814/92596d86-eab0-4abb-ae87-3f8ee4d3dceb.eot?#iefix") format("eot"),url("fonts/1475814/2feabad2-d70f-4b3d-9a27-87bffac21bce.woff2") format("woff2"),url("fonts/1475814/f0ee8fd2-4e6c-4676-b99d-5995bd5d9cc8.woff") format("woff"),url("fonts/1475814/74b800bd-5c70-408f-951d-301b7a646abf.ttf") format("truetype");
}
@font-face{
    font-family:"Futura Bold";
    src:url("fonts/1475826/700bd18e-d9e0-45c5-93e2-7c930608c50e.eot?#iefix");
    src:url("fonts/1475826/700bd18e-d9e0-45c5-93e2-7c930608c50e.eot?#iefix") format("eot"),url("fonts/1475826/12dbb46a-1b0b-40ee-80a6-4141c349b55f.woff2") format("woff2"),url("fonts/1475826/2abd55ef-07d0-473e-80e1-0e4066cd01fa.woff") format("woff"),url("fonts/1475826/c4fa8988-43d1-4a01-96e4-36c5c5a121c9.ttf") format("truetype");
}

.grey {
	color: $color-light;
}
.accent {
	color: $color-accent;
}
.white {
	color: $color-white;
}