.site-footer>.wrap {
	background: radial-gradient(#414141, #000000);
}
.site-footer h3 {
	color: $color-white;
	text-shadow: none;
	font-size: 2em;
    font-family: $font-stack;
    font-weight: 900;
}
.site-footer.dark h4 {
    color: $color-lighter;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    font-size: 1.15em;
    font-family: $font-stack;
    font-weight: 900;
}
.site-footer a {
	color: $color-lighter;
}
.site-footer .site-copyright a {
	border-bottom-width: 0px;
}
.site-footer a {
	color: $color-white !important;
}
.footer-content {
	text-align: center;
}
.footer-content .entry-content p {
	font-family: $font-stack;
	font-weight: 600;
}
.footer-content>.wrap>.row>.col {
	margin-top: 10px;
}