/* forms */
.btn {
	font-family: $font-stack;
    border-radius: 3px;
    padding: 8px 20px;
    text-transform: capitalize;
    color: white !important;
    font-size: 1em;
    letter-spacing: -.01em;
    font-weight: 700;
    text-transform: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

    @media (max-width: 992px) {
        max-width: none;
        width: 100%;
    }
}
.btn:hover {
	background-color: $color-main;
	color: $color-white;
}
.btn-success {
	background-color: $color-success;
}
.btn-info {
	background-color: $color-accent; //#5bc0de;
}
.btn-success:hover {
	background-color: $color-main;
}
.btn-xxl {
	font-size: 22px;
}
.btn-primary {
    background-color: transparent;
    border: 2px solid $color-accent !important;
    color: $color-accent !important;
}
.btn-primary:hover {
    background-color: $color-accent;
    color: $color-white !important;
}
.home .hero .btn-danger {
    background-color: transparent;
    border: 2px solid $color-white;
    color: $color-white;
}
.home .hero .btn-danger:hover {
    color: $color-accent !important;
    background-color: $color-white;
}