.site-header.transparent {
    background-color: rgba(0,0,0,0);
}
.site-header.transparent>.wrap {
    border-bottom: 0px solid rgba(0,0,0,0) !important;
}
.header-content .site-logo {
    margin: 0 10px 0 10px;
}
.header-content .site-logo a:hover {
	border-bottom-width: 0px;
}
/* make the header full-width */
.header-content>.wrap {
	max-width: none;
}
.header-nav .tb-primary-menu > li > .menu-btn {
    font-size: 18px;
    line-height: 45px;
    text-transform: capitalize;
    letter-spacing: -.02em;
    font-weight: 900;
}
// Sticky Header
.tb-sticky-header > .wrap {
	max-width: none;
}
.tb-sticky-header {
	background-color: $color-white; 
	
	.tb-primary-menu > li > .menu-btn {
		font-size: 14px;
		line-height: 1.3333;
		text-transform: capitalize;
	    letter-spacing: -.02em;
	    font-weight: 900;
	    color: $color-main;
	}

	.logo-sticky {
	    margin: 0 10px 0 0;
	    background-color: #b54425;
	    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
	    padding: 5px 30px 15px 30px;
	    max-width: none !important;
	    height: 50px;
	}
	
}
// mobile menu
.tb-mobile-header {
	.site-logo {
	    margin: 0 10px 0 0;
	    padding: 20px 30px 15px 30px;
	    max-width: none !important;
	}
}
/* for the left-float logo, transparent hover nav element effect */
.site-header.light:not(.transparent) .tb-primary-menu > li > .menu-btn {
  color: #3a3b3a;
}
.site-header.transparent .header-nav .tb-primary-menu>li>.menu-btn:hover,
.btn-navbar:hover  {
	border-bottom-width: 0px;
}
.site-header.transparent .header-nav {
  background-color: rgba(0, 0, 0, 0);
}
.site-header.standard,
.site-header.standard .header-nav {
  background: $color-lighter;
}
.site-header.standard {
  -webkit-box-shadow: $box-shadow-none;
  box-shadow: $box-shadow-none;
  border-bottom: 1px solid #ccc;
}
.header-content .site-logo {
  margin: 0 10px 0 0;
  //background-color: #fff;	
  //-webkit-box-shadow: $box-shadow;
  //box-shadow: $box-shadow;
  padding: 10px 20px;
  max-width: none !important;
}
.header-content .site-logo img {
	height: 75px;
}
.site-header.standard .logo-trans {
	/*left: 50px;
    background: $color-white;
    position: relative;
    box-shadow: $box-shadow;*/
    display: none;
}
.header-content .site-logo.logo-standard.show {
	//background-color: $color-main;
	//transition: all 1s ease-out;
}
.home-hero-float-img {
	position: absolute;
    right: 0;
    float: right;
    top: 50px;
    text-align: right;
    width: 450px;

    @media (max-width: 992px) {
		width: 300px;
	}
	@media (max-width: 767px) {
		width: 100px;
	}
	@media (max-width: 300px) {
		width: 0px;
		display: none;
	}
}
.home-hero-float-img img {

}
.show {
	display: block !important;
}
.hide {
	display: none !important;
}
.noshadow {
	text-shadow: none !important;
}
.howmanyproducts {
	color: $color-main;
	padding-left: 5px;
}
.menu-sticky .howmanyproducts {
	color: $color-accent;
}

.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
	font-size: 72px;
    line-height: 64px;
    color: $color-white;
    //max-width: 330px;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    text-shadow: $text-shadow;

    @media (min-width: 992px) {
		font-size: 100px;
    	line-height: 1;
    	//max-width: 908px;
	}
	@media (min-width: 768px) {
		font-size: 140px;
	    line-height: 120px;
	    //max-width: 640px;
	    //margin-bottom: 48px;	
	}
}