.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
    line-height: 1;
}

.home-subscribe-section {
	.featured-image img {
		position: absolute;
	    top: -100px;
	    z-index: 999;
	    left: 80px;
	}
	h2 {
		text-transform: uppercase;
		font-weight: 700;
		font-family: $font-roboto;
		margin-top: 0px;
	    font-size: 4em;
	    text-shadow: none;
		letter-spacing: -.02em;
		color: $color-accent;
		line-height: .9;
		margin-top: 20px;

		@media (max-width: 767px) {
			font-size: 2.5rem;
	    	line-height: 3rem;
		}
	}
	h3 {
		font-family: $font-stack;
		color: $color-main;
	    margin-bottom: 5px;
	    text-transform: uppercase;
	    font-weight: 100;
	    text-shadow: none;
	}
	h4 {
		text-transform: capitalize;
		font-weight: 500;
		font-family: $font-stack;
		color: $color-main;
		font-size: 1.15rem;
    	text-shadow: none;
    	letter-spacing: -.02em;
    	margin-bottom: 0px;

    	@media (max-width: 767px) {
			font-size: 1.5rem;
		    line-height: 2rem;
		}
	}
	.btn {
		font-size: 16px;
	}
	.element-divider .tb-divider {
		margin-bottom: 0px;
	}
}

.why-because {
	h2 {
		font-family: $font-header;
		color: $color-white;
		text-transform: uppercase;
		text-shadow: none;
		font-size: 3em;
		font-weight: bold;
	}
	p {
		font-family: $font-stack;
		color: $color-white;
	}
}

.slide-out-packaging {
	max-width: 130%;
    position: absolute;
    left: -150px;
    top: -20px;

    @media (max-width: 767px) {
		display: none;
	}
}

.tb-jumbotron .tb-text-block-wrap.text-large .tb-text-block {
	@media (max-width: 767px) {
		font-size: 3.5rem;
	}
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}
