.tb-product .product-thumb {
    background: $color-lighter;
    padding: 15px 0;
}
h2.woocommerce-loop-product__title {
	font-family: $font-stack;
	color: $color-main;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: 100;
	text-shadow: none;
}