.custom-layout-coming-soon .site-copyright,
.custom-layout-coming-soon .site-header.transparent,
.custom-layout-coming-soon .site-footer,
.custom-layout-coming-soon .mobile-nav,
.custom-layout-coming-soon .gform_wrapper .gfield_required {
	display: none;
}

.custom-layout-coming-soon .tb-gforms-compat .gform_wrapper .top_label>li .gfield_label {
	display: none !important;
}

#landing-section-4,
#landing-2-section-4,
#coming-soon-section-3 {
	background: radial-gradient(#414141, #000000);
}

.tb-bg-video {
	@media (max-width: 991px) { 
    	display: block;
    }
}
.get-you-some {
	.tb-headline p:last-child {
		color: $color-lighter;
	}

	h4 {
		padding: 20px;
		color: $color-lighter;
		font-family: $font-stack;
		font-weight: 900;
	}
}

.tiny-doug-headline {
	@media (max-width: 767px) { 
    	border-bottom: 3px solid #ccc;
    }
}

.tiny-doug {
    position: absolute;
    top: -80px;
    right: -20px;
}

.tb-gforms-compat .gform_wrapper .top_label li.gfield {
    margin-bottom: 0px;
}
body .gform_wrapper ul li.gfield {
    margin-top: 0px;
}
.gform_wrapper .gfield_checkbox li label {
	color: #f5f5f5;
    padding-top: 8px;
}
#gform_submit_button_2 {
	font-family: "Open Sans", Arial, sans-serif !important;
    border-radius: 3px !important;
    padding: 15px 20px !important;
    text-transform: capitalize !important;
    color: white !important;
    font-size: 1rem !important;
    letter-spacing: -.01em !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24) !important;
    background: $color-accent  !important;

    @media (max-width: 767px) { 
    	padding: 5px 15px !important;
    	font-size: 1.5em !important;
    }
}

#input_2_1,
#input_2_2,
#input_2_3 {
	border-width: 0px !important;
    background: transparent !important;
    border-bottom: 3px solid #fff !important;
    color: #f5f5f5 !important;
    height: 60px !important;
    font-size: 1.5em !important;
    padding: 10px 0 !important;
}
#input_2_1xxx {
	@media (max-width: 767px) { 
	 
	}
}
#input_2_1,
#input_2_2,
#input_2_3,
.coffeebecause {
	font-family: 'Mali', cursive !important;
}
#input_2_2,
#input_2_3 {

    @media (max-width: 767px) { 
    	
    }
}
#input_2_1:focus,
#input_2_2:focus,
#input_2_3:focus {
	box-shadow: 0 0 0px rgba(200,200,200,.4)  !important;
	border-bottom-color: $color-accent  !important;
}
#label_2_4_1 {
	padding-top: 6px;
    padding-left: 10px;

    @media (max-width: 767px) { 
    	font-size: 1em;
    }
}
#gform_wrapper_2 {
	margin: 0px;
}
.typeit h1 {
	font-size: 3.5em;
	text-transform: uppercase;
	height: 150px;
	line-height: .9;

	@media (max-width: 767px) { 
    	font-size: 2.5em;
		text-transform: uppercase;
		height: 150px;
    }
}
.because-coffee {
	color: $color-accent;
	display: block;
}
.coffeebecause {
	color: #f5f5f5;
    font-size: 1.5em;
    padding-top: 45px;
    text-align: right;

    @media (max-width: 767px) { 
    	text-align: left;
    	padding-top: 25px;
    }
}
.get-you-some {

	h2 {
		color: $color-white;
		text-shadow: $text-shadow-none;
		font-family: $font-header;
		font-size: 3em;
	}
	#field_2_1 .gfield_label {
		color: $color-white;
		font-weight: 500;
    	font-size: 1.25em;
	}
}

.french-press {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}

.french-press:hover {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
}


.rotateY img {
  transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}
.rotateY:hover img {
	transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform:rotateY(720deg);
  -moz-transform:rotateY(720deg);
}
.tb-gforms-compat .gform_wrapper .top_label li.gfield.gf_left_half, 
.tb-gforms-compat .gform_wrapper .top_label li.gfield.gf_right_half {
	@media (max-width: 767px) { 
	  	text-align: left;
	  	display: block;
	  	width: 100%;
	}
}