.hero h1 {
	color: $color-main;
    font-size: 64px;
	margin-top: 100px;
}
.hero h4,
.contact h3 {
	color: $color-main;
	font-size: 3em;
	font-weight: bold;
	text-shadow: $text-shadow-none;
	
	@media (max-width: 768px) {
		font-size: 2em;
	}
}
#home-section-1 .tb-bg-video {
	@media (max-width: 768px) {
		display: none;
	}
}
.about-top {
	h2 {
		text-transform: none;
		text-shadow: $text-shadow-none;
		margin-bottom: 30px;
	}
	p {
		font-size: 2.5rem;
	    font-weight: normal;
	    letter-spacing: -.02em;
	    line-height: 1.5;

	    @media (max-width: 767px) {
			font-size: 1.7rem;
			line-height: 1.3;
		}
	}
}
.contact-form-area {
	background-color: rgba(255, 255, 255, 0.75) !important;
}
.footer-stay-up.contact-page {
	padding-left: 0px;

	li a {
		font-size: 1.5em;
	}
}
.faux-border-right {
    background: linear-gradient(to right,#fff 50%,#ededed 50%);
}
.blurred span {
  filter: blur(6px);
  /* As pointed out by Alexander Erlandsson (@alexerlandsson), for situations that require better cross-browser support, the blur effect is easily reproduced with transpartent text + text-shadow
  color: transparent;
  text-shadow: 0 0 12px rgba(0,0,0,0.8); */
}
.invisible-ink span {
  background: $color-white;
  color: $color-white;
  /* Vincent Charpentier (@VincentCharpentier) also pointed out a simple rule for true invisibility
  color: rgba(0,0,0,0);*/
}

.redacted span {
  position: relative;
  white-space: pre;
  &:after {
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: " ";
    width: 100%;
    height: 1.2em;
    left: 0;
    position: absolute;
    transform: skewY(-5deg) rotate(5deg);
  }
}  
.hero-about {
	min-height: 500px !important;

	@media (max-width: 992px) {
		min-height: 350px !important;
	}

	.jumbotron-wrap {
		position: relative;
		top: 300px;

		@media (max-width: 992px) {
			top: 200px !important;
		}

		h1 {
			font-weight: 900;
	    	font-family: $font-roboto;
	    	color: $color-main !important;
			}
	}
}
.custom-layout-about {
	.site-header.standard {
		background: transparent;
		box-shadow: none;
		border-bottom-width: 0px;
	}
	.site-header.standard .header-nav {
		background: transparent;
	}
}
.brew-stuff-guides-section {
	max-width: 60%; 
	margin: 0 auto;

	@media (max-width: 992px) {
		max-width: 100%;
	}

	img {
		@media (max-width: 992px) {
			//display: none;
		}	
	}
}
.brew-guides-promo-section {
	img {
		height: 150px;
	}
	.element-columns .element {
		margin-bottom: 10px;
	}
	.headline {
		font-family: $font-roboto;
		color: $color-accent;
	}
	.desc {
		font-size: .85em;
		letter-spacing: -.02em;
	}
	.col-md-2,
	.col-md-3 {
		width: 20% !important;

		@media (max-width: 992px) {
			width: 100% !important;
		}
	}
	.btn {
	    padding: 5px 10px;
    	font-size: .85em;
	}
}
.how-to-time{
	background-color: transparent;
    position: absolute;
    top: 0;
    right: 10px;

    strong {
    	background: #f5f5f5;
    	padding: 5px 20px;
    }
}